<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= service_name %>
    </h1>

    <div class="app--js-enabled-show">
      <p class="govuk-body-l"><%=t '.lead' %></p>
      <p class="govuk-body"><%=t '.intro' %></p>
    </div>

    <noscript>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%=t '.no_javascript.warning' %>
        </strong>
      </div>
      <%=t '.no_javascript.other_links_html' %>
    </noscript>

    <script async src="https://cse.google.com/cse.js?cx=35494a494c787b70b"></script>
    <div class="gcse-search" data-personalizedAds="false"></div>

    <div class="app--js-enabled-show">
      <h2 class="govuk-heading-m govuk-!-margin-top-5">
        <%=t '.quick_search_heading' %>
      </h2>

      <%= render @common_terms %>
    </div>
  </div>
</div>
